/* body 기본 설정 */
body {
  /* background-color: rgba(250, 250, 250, 1); */
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.myPage {
  /* background-color: rgba(255, 255, 255, 1); */
  background: linear-gradient(
    to bottom,
    #e8e8e8 298px,
    rgba(255, 255, 255, 0) 0
  );
  /* margin: 100px; */
  width: 100%;
}

/*/////////////*/
/* 프로필 랩 시작 */
/*/////////////*/
.profile_wrap {
  background: linear-gradient(
    to bottom,
    #e8e8e8 214px,
    rgba(255, 255, 255, 0) 0
  );
  width: 100%;
}

.container {
  padding-top: 30px;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

/* 프로필 사진부 */
.pro_left {
  margin-right: 100px;
  margin-bottom: 45px;
  text-align: center;
}

.pro_left .pro_img {
  width: 360px;
  height: 360px;
  position: relative;
  overflow: hidden;
  border-radius: 180px;
}

.pro_left .pro_img img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* height: auto; */
  min-height: 100%;
  vertical-align: middle;
}

.pro_right {
  margin-top: 130px;
  width: 60%;
}

.pro_right .name {
  padding-top: 80px;
  display: flex;
}
.pro_right .name p {
  font-size: 32px;
  margin-right: 20px;
  font-weight: 600;
  line-height: 1;
}

.pro_right .name .edit_btn {
  border: none;
  vertical-align: middle;
  font-size: 10px;
  color: #fff;
  background-color: #28c7ab;
  border-radius: 100px;
  padding: 0px 15px;
  margin-left: 10px;
}

.pro_right .profile_con {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.pro_right .profile_con .profile_txt:first-child {
  padding-right: 30px;
}

.pro_right .profile_con .profile_txt {
  width: 50%;
}

.pro_right .profile_con .pro_txt {
  margin-top: 50px;
}

.pro_right .profile_con .pro_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.pro_tit {
  color: #459fee;
  line-height: 1;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 15px;
  font-family: sans-serif;
}

.pro_right .profile_con .pro_info .pro_tit {
  width: 100%;
}

.pro_right .profile_con .pro_info .pro_info1 {
  width: 30%;
}

.pro_right .profile_con .pro_info .pro_info1 li,
.pro_right .profile_con .pro_info .pro_info2 li {
  height: 25px;
  line-height: 1.2;
  font-size: 16px;
  padding-bottom: 30px;
}

.pro_right .profile_con .pro_info .pro_info1 li {
  font-weight: 600;
  color: #585858;
}

.pro_right .profile_con .pro_info .pro_info2 {
  width: 70%;
}

.pro_right .profile_con .pro_info .pro_info2 li,
.pro_right .profile_con .pro_txt .pro_data {
  height: 25px;
  line-height: 1.2;
  font-weight: 600;
  font-size: 16px;
  color: #6c6c6c;
}

.pro_right .profile_con .pro_txt #contact  {
  display: inline;
}

.pro_right .profile_con .pro_txt .fa-copy {
  font-size: 18px;
  margin-left: 5px;
  color: #459fee;
}

.pro_right .profile_con .pro_txt #copy_pop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  width: 142px;
  align-items: center;
  color: #569aff;
}

/*/////////////*/
/* 필모그래피 랩 시작 */
/*/////////////*/

.filmo_wrap {
  width: 100%;
  margin-bottom: 65px;
}

.filmo_wrap .profile_con {
  width: 100%;
}

.filmo_wrap .filmo_table {
  width: 100%;
  table-layout: fixed;
  border: gray;
  border-collapse: separate;
}

.filmo_wrap .filmo_table thead th {
  text-align: center;
  background: #569aff;
  font-weight: 500;
  color: #fff;
  padding: 13px 5px;
}

.filmo_wrap .filmo_table tbody td {
  text-align: center;
  color: #333;
  padding: 10px 5px;
}

.filmo_wrap .filmo_table tbody tr:nth-child(2n) {
  background: #f9f9f9;
}
