/* URL */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:wght@700&family=Shrikhand&family=Single+Day&family=Source+Code+Pro:wght@600&family=Source+Sans+3:wght@600;700&display=swap');


.pf_container {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 12px;
}

.pf_title_area {
  display: flex;
  justify-content: space-between;
}

.pf_title_area .myinfo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.pf_title_area .myinfo .pf_title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
  font-size: 36px;
  font-weight: 700;
  padding: 10px;
}

.pf_title_area .myinfo .pf_label {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.pf_title_area .myinfo .pf_label .user_info {
  display: flex;
  align-items: end;
  gap: 10px;
}

.pf_title_area .myinfo .pf_label .user_info .pf_img {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  border: 0.5px solid #eee;
  padding-left: 5px;
}

.pf_title_area .myinfo .pf_label .user_info p {
  font-size: 16px;
  letter-spacing: -1px;
  padding-bottom: 4px;
}

.pf_title_area .pf_status {
  display: flex;
  align-items: flex-end;
  margin-bottom: 3px;
  font-size: 20px;
}

.pf_title_area .pf_status p{
  padding-right: 15px;
  padding-left: 5px;
  font-size: 15px;
  letter-spacing: -0.5px;
}

.pf_title_area .pf_status .fa-eye{
  color: rgb(14, 13, 13);
}

.pf_title_area .pf_status .fa-heart{
  color: rgb(231, 128, 231);
}

.pf_title_area .pf_status img{
  width: 22px;
  height: 20px;
  padding-bottom: 1px;
}

.border {
  width: 100%;
  border-bottom: 2px solid #eee;
  margin: 12px 0;
}

.pf_info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  gap: 50px;
}

.pf_info .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  max-width: 1000px;
}

.pf_info .column .detail_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 10%;
  padding-left: 12px;
}

.pf_info .column .detail_info li {
  display: flex;
  width: 48%;
  text-align: center;
  gap: 12px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-bottom: 5px;
}

.pf_info .column .detail_info li .accent {
  font-size: 18px;
  color: #459FEE;
  line-height: 1;
  font-family: sans-serif;
  font-weight: 900;
  margin-bottom: 12px;
}

.pf_info .column .pf_intro {
  margin-top: 50px;
  width: 100%;
  max-width: 850px;
}

.pf_info .column .pf_intro h4 {
  font-size: 24px;
}

.pf_info .column .pf_intro .introduce {
  font-size: 18px;
  padding: 0 5px;
  margin-top: 30px;
  overflow: hidden;
  width: 100%;
  height: auto;
  outline: none;
  resize: none;
  border: none;
}


